*{
    padding: 0;
    margin: 0;
}

button {
    width: 70px;
    height: 40px;
    margin: 3px;
    border: white;
    border-radius: 6%;
}

button:active {
    background: whitesmoke;
}

body {
    margin: 50px;
}

.calculator {
    width: 350px;
    height: 265px;
    border-radius: 2%;
    background-color: #90c3d6;
}

.header {
    width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    justify-content: center;
}

.count {
    display: block;
    text-align: right;
    padding-right: 10px;
}

.header-output-panel {
    position: relative;
    top: 4px;
    width: 225px;
    height: 39px;
    align-content:center;
    border-radius: 3%;
    margin-left: 10px;
    background-color: #6f95a3;
    color: white;
    box-shadow: 0px -4px 1px gray;
}

.header-clear--button {
    margin: 0;
    color: white;
    box-shadow: 0px 4px 1px #eb6565;
}

.pink {
        background: pink;
}

.input-panel{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 20px 20px;
    
}

.input-panel--button {
    background: white;
    color: gray;
    box-shadow: 0px 4px 1px gray;
}

.green {
    background: #caed79;
}

.lite-pink {
    background: #f2dae0;
}




